[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=oneshot
ExecStart={{ backup_command }}
User=postgres

[Install]
WantedBy=multi-user.target
